site_name: 'XSLT 3.1 with examples'
site_url: 'https://xsltdev.com/'
site_description: 'XSLT 3.1 Documentation with examples'
site_author: 'xsltdev.com'
copyright: '(ะก) 2019, XSLT 3.1 Documentation and examples'

repo_name: 'Github'
repo_url: 'https://github.com/xsltdev/xsltdev.com'

theme:
    name: 'material'
    palette:
        primary: 'green'
        accent: 'green'
    language: 'en'
    #    favicon: 'assets/images/favicon.ico'
    feature:
        - navigation.instant
        - navigation.tabs
        - navigation.tracking
        - search.suggest
        - search.highlight
    #font:
    #text: 'Roboto'
    #code: 'Roboto Mono'
    #logo:
    #    icon: 'code'

google_analytics:
    - 'UA-156177174-1'
    - 'auto'

markdown_extensions:
    - admonition
    - codehilite:
          guess_lang: false
          linenums: false
    - toc:
          permalink: true
    - pymdownx.extra
    - pymdownx.details
    - pymdownx.emoji:
          emoji_index: !!python/name:materialx.emoji.twemoji
          emoji_generator: !!python/name:materialx.emoji.to_svg
    - pymdownx.tabbed
    - pymdownx.superfences

plugins:
    - search:
        separator: '[\s\-\:]+'
        prebuild_index: true
    - awesome-pages
    - section-index
